@charset "UTF-8";

/* form styling */

#wrapper {
  width: 60%;
  margin-left: 4%;
}

div#formcol1 {
  display: flex;
  flex-direction: column;
}

/* Style for right-aligning labels in Speaker Info */
#formcol1 label {
  text-align: right;
  margin-right: .3em;
  width: 6.3em; /* Adjust width as needed */
  display: inline-block;
}

/* Left-align Type of Presentation */
#multchoice legend {
  text-align: left;
}

/* Remove bullets from list items */
#proposal2020 ul {
  list-style-type: none;
  padding: 0;
}

#proposal2020 ul li {
  list-style-type: none;
}

/* Highlighting current focus */
select:focus, select:active, input:focus, input:active, input:focus + label, input:active + label, label[for]:focus, label[for]:active {
  color: #FFF !important;
  background-color: #BB3D2F !important;
}

/* Styling for required fields */
#formcol1 input.reqfield {
  background: #FF9;
}
